/*navbar*/
.navbar-brand {
  font-family: 'Cantata One', serif;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  width: 100%;
}

/*headline*/
h1 {
  font-family: Georgia, serif;
  text-align: center;
  padding: 20px;
}

/*section headers*/
h2 {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}

#photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.caption {
  font-size: 10px;
}

/*text next to graphic*/
.col-md-8 {
  padding-top: 200px;
}

/*content wrap */
.content {
  margin: 0 auto;
  width: 900px;
  font-family: Helvetica, sans-serif;
}
