#masthead {
  font-size: 100px;
  font-family: 'Alegreya SC', serif;
  color: #616160;
  background-color: #FDFD96;
  text-align: center;
  margin-bottom: 20px;
}

#content {
  margin: 0 auto;
  width: 900px;
}
