h1 {
  font-family: 'Tenor Sans', sans-serif;
}

h5 {
  padding: 30px;
  font-family: 'Tenor Sans', sans-serif;
}

#container {
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  font-family: 'Tenor Sans', sans-serif;
  color: black;
}

li {
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  list-style-type: none;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #849EFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #849EFF;
  color: black;
}

hr.solid {
  border-top: 20px solid #bbb;
  padding: 20px;
  width: 100%;
}

.fab {
  color: #849EFF;
  padding: 50px;
  border: 0;
}

.workplace {
  float: left;
  margin-right:5px
}

.jobtitle {
    font-size: 30px;
    font-weight: bolder;
}

.caption {
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #5F6681;
}
